from .base import *
SECRET_KEY = "{{django_secret_key}}"
DEBUG = False
ALLOWED_HOSTS = ['*']
MEDIA_ROOT = '/app/media'
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': '/app/data/db.sqlite3'
    }
}
INVITE_CODE = "{{invite_code}}"
